.uniao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.parte011 {
  background: #f5f5f5;
  margin: 100px 0px 0px 60px;
  max-width: 100%;
  height: 396px;
  border-radius: 6px;
}

.prata01 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.h3-texto {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
  margin: 30px 0px 0px 60px;
}

.preco-texto {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
  color: #000;
  margin: 30px 30px 0px 0px;
}

.ul-itens {
  margin: 25px 0px 60px 38px;
}

.li-itens {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.p-itens {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.botao01 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000;
  background: #52b8b2;
  border-radius: 6px;
  padding: 16px 32px;
  margin: 30px 0px 30px 60px;
  margin-top: 30px;
}

@media (max-width: 850px) {
  .uniao {
    grid-template-columns: 1fr;
    margin: -50px 45px 0px -10px;
  }
}
