.parte02 {
  background: #141414;
  margin: 100px 0px 0px 60px;
  max-width: 100%;
  height: 500px;
  border-radius: 6px;
}

.prata02 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.h3-texto02 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: #52b8b2;
  line-height: 48px;
  text-transform: uppercase;
  margin: 30px 0px 0px 60px;
}

.preco-texto02 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
  color: #fff;
  margin: 30px 30px 0px 0px;
}

.ul-itens02 {
  margin: 25px 0px 60px 38px;
}

.li-itens02 {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.p-itens02 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #a3a3a3;
}

.botao02 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000;
  background: #52b8b2;
  border-radius: 6px;
  padding: 16px 32px;
  margin: 30px 0px 30px 60px;
  margin-top: 30px;
}

@media (max-width: 800px) {
  .h1-nebula {
    font-size: 24px;
  }
}
